<section
  class="customer login"
  data-section-id="{{ section.id }}"
  data-section-type="reset-password"
>
  <div class="login__main" data-part="login">
    <h1 class="login__heading ff-heading fs-page-heading c-heading">{{ 'customer.reset_password.title' | t }}</h1>
    <p class="login__subheading fs-primary-body c-subheading">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {% form 'reset_customer_password' %}
      {%- if form.errors -%}
        <div>
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}

      <input
        type="password"
        value=""
        name="customer[password]"
        placeholder="{{ 'customer.reset_password.password' | t }}"
        id="ResetPassword"
        class="input input--round {% if form.errors contains 'password' %} input--error{% endif %}"
      >

      <input
        type="password"
        value=""
        name="customer[password_confirmation]"
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
        id="PasswordConfirmation"
        class="input input--round {% if form.errors contains 'password_confirmation' %} input--error{% endif %}"
      >

      <input type="submit" class="btn btn--primary btn--full" value="{{ 'customer.reset_password.submit' | t }}">
    {% endform %}
  </div>
</section>
