{% liquid
  assign per_row = section.settings.articles_per_row
  assign show_rss = section.settings.show_rss
  assign show_excerpt = section.settings.show_excerpt
  assign aspect_ratio = section.settings.aspect_ratio

  assign disabled_image_style = false

  if aspect_ratio != 'natural'
    assign disabled_image_style = true
  endif
%}

{% paginate blog.articles by 6 %}

<section
  class="blog s-inline-section"
  data-section-id="{{ section.id }}"
  data-section-type="blog"
>
  <div class="blog__header">
    <h1 class="blog__heading ff-heading fs-heading-base c-heading">
      {{ page_title }} {% if current_tags %} — {{ 'general.meta.tags' | t: tags: current_tags[0] }}{% endif %}
    </h1>

    {%- if show_rss -%}
      <a class="blog__rss" href="{{ blog.url | append: '.atom' }}">
        {% render 'icon-button' with icon: 'rss_feed' %}
      </a>
    {%- endif -%}
  </div>

  <div class="blog__articles grid">
    {%- for article in blog.articles -%}
      <div class="blog__article blog__article--{{ aspect_ratio }} grid__item grid__item--{{ per_row }}">
        {%- if article.image != blank -%}
          <a href="{{ article.url }}" class="hover">
            {% render 'image' with
              image: article.image,
              wrapper_class: 'blog__article-image',
              disable_style: disabled_image_style
            %}
          </a>
        {%- endif -%}

        <div class="blog__meta {% if article.image == blank %}blog__meta--no-image{% endif %}">
          <h3 class="blog__article-title ff-heading c-heading"><a href="{{ article.url }}">{{ article.title }}</a></h3>
          <p class="blog__article-date ff-meta fs-meta">{{ article.published_at | time_tag: format: 'date' }}</p>
          {%- if show_excerpt -%}
            <p class="blog__article-excerpt ff-body fs-body-base">
              {{ article.excerpt_or_content | strip_html | truncate: 120 }}
              <a href="{{ article.url }}">{{ 'sections.blog_posts.more' | t }}</a>
            </p>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>

  {% render 'pagination', paginate: paginate %}

</section>

{% endpaginate %}


{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "id": "articles_per_row",
        "type": "select",
        "label": "Articles per row",
        "options": [
          { "label": "Two", "value": "2" },
          { "label": "Three", "value": "3" }
        ],
        "default": "3"
      },
      {
        "id": "show_rss",
        "type": "checkbox",
        "label": "Show RSS icon",
        "default": true
      },
      {
        "id": "show_excerpt",
        "type": "checkbox",
        "label": "Show article excerpts",
        "default": false
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "Image aspect ratio",
        "options": [
          { "label": "Natural", "value": "natural" },
          { "label": "Square (1:1)", "value": "square" },
          { "label": "Landscape (3:2)", "value": "landscape" },
          { "label": "Portrait (2:3)", "value": "portrait" }
        ],
        "default": "square"
      }
    ]
  }
{% endschema %}
