{% liquid
  assign slides = section.blocks
  assign settings = section.settings

  if slides.size < 3
    assign slides = slides | concat: slides
  endif
%}

<section
  class="carousel"
  data-section-id="{{ section.id }}"
  data-section-type="carousel"
  style="
    --height-carousel: 600px;
    --height-carousel-mobile: {{ settings.height_mobile }}vh;
  "
>
  <div class="carousel__slides" data-js-slider>
    {% for slide in slides %}
      <div class="carousel__slide" data-js-slide data-index="{{ forloop.index0 }}" {{ slide.shopify_attributes }}>
        <div class="carousel__slide-content {% if forloop.first %}carousel__slide-content--first{% endif %} borders">
          {% if slide.settings.image != blank %}
            {% render 'image' with
              image: slide.settings.image,
              wrapper_class: 'carousel__image'
            %}
          {% else %}
            <div class="placeholder-image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}

            {% render 'block-overlay' with
              block: slide,

              meta: slide.settings.meta,
              heading: slide.settings.title,
              subheading: slide.settings.subheading,
              link: slide.settings.link,
              link_text: slide.settings.link_text,

              alignment: slide.settings.alignment,
              max_width_content: slide.settings.max_width_subheading,

              opacity: slide.settings.opacity_overlay,
              color_background: settings.color_overlay,
              color_background_button: settings.color_background_button,
              color_heading: settings.color_heading,
              color_subheading: settings.color_subheading,
              color_text_button: settings.color_text_button
            %}
        </div>
      </div>
    {% else %}
      {% for i in (1..4) %}
        <div class="carousel__slide" data-js-slide data-index="{{ forloop.index0 }}" {{ slide.shopify_attributes }}>
          <div class="carousel__slide-content carousel__slide-content--placeholder {% if forloop.first %}carousel__slide-content--first{% endif %} borders">
            <div class="placeholder-image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}

    {% render 'carousel-pagination' %}
  </div>
</section>


{% schema %}
  {
    "name": "Carousel",
    "class": "carousel-section",
    "settings": [
      {
        "id": "height_mobile",
        "type": "range",
        "label": "Section height on mobile",
        "info": "Percentage of screen height",
        "min": 20,
        "max": 100,
        "step": 10,
        "default": 80,
        "unit": "%"
      },
      {
        "id": "color_overlay",
        "type": "color",
        "label": "Overlay",
        "default": "#000000"
      },
      {
        "id": "color_heading",
        "type": "color",
        "label": "Heading",
        "default": "#ffffff"
      },
      {
        "id": "color_subheading",
        "type": "color",
        "label": "Subheading",
        "default": "#b8b8b8"
      },
      {
        "id": "color_background_button",
        "type": "color",
        "label": "Button background",
        "default": "#000000"
      },
      {
        "id": "color_text_button",
        "type": "color",
        "label": "Button text",
        "default": "#ffffff"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "meta",
            "type": "text",
            "label": "Mini heading",
            "default": "Carousel"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Heading",
            "default": "Carousel Section"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading",
            "default": "<p>Use this Section to showcase a rotating gallery of images.</p>"
          },
          {
            "id": "max_width_subheading",
            "type": "range",
            "label": "Text max width",
            "min": 18,
            "max": 50,
            "step": 2,
            "default": 28
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "Button label",
            "default": "Shop the Collection"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Button link",
            "default": "/"
          },
          {
            "id": "alignment",
            "type": "select",
            "label": "Text alignment",
            "options": [
              { "label": "Top left", "value": "left_top" },
              { "label": "Top center", "value": "center_top" },
              { "label": "Top right", "value": "right_top" },
              { "label": "Middle left", "value": "left_center" },
              { "label": "Middle center", "value": "center_center" },
              { "label": "Middle right", "value": "right_center" },
              { "label": "Bottom left", "value": "left_bottom" },
              { "label": "Bottom center", "value": "center_bottom" },
              { "label": "Bottom right", "value": "right_bottom" },
              { "label": "Split left", "value": "left_split" },
              { "label": "Split center", "value": "center_split" },
              { "label": "Split right", "value": "right_split" }
            ],
            "default": "left_split"
          },
          {
            "id": "opacity_overlay",
            "type": "range",
            "label": "Overlay opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 60,
            "unit": "%"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Carousel",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
