{% liquid
  assign logo = section.settings.logo
  assign logo_max_width = section.settings.logo_max_width
  assign logo_position = section.settings.logo_position
  assign menu = section.settings.menu
  assign style = section.settings.style

  assign transparent_home = section.settings.enable_transparent_home
  assign transparent_collection = section.settings.enable_transparent_collection
  assign color_text_transparent = section.settings.color_text_transparent
  assign color_icon_transparent = section.settings.color_icon_transparent
  assign color_border_transparent = section.settings.color_border_transparent
  assign opacity_border_transparent = section.settings.opacity_border_transparent
  assign logo_transparent = section.settings.logo_transparent

  assign blocks = section.blocks
  assign links = linklists[menu].links
%}

{% capture header_classes %}
  header header--{{ style }} header--{{ logo_position }}
  {% if logo != blank %}
    header--has-logo
  {% endif %}
  {% if logo_transparent != blank %}
    header--has-transparent-logo
  {% endif %}
  {% if transparent_home and template.name == 'index' %}
    header--transparent-home
  {% endif %}
  {% if transparent_collection and template.name == 'collection' %}
    header--transparent-collection
  {% endif %}
  {% if shop.customer_accounts_enabled %}
    header--has-accounts
  {% endif %}
{% endcapture %}

{%- assign border_opacity = opacity_border_transparent | divided_by: 100.0 -%}
{% capture css_vars %}
  --width-max-logo: {{ logo_max_width }}px;
  --color-text-transparent: {{ color_text_transparent }};
  --color-icon-transparent: {{ color_icon_transparent }};
  --color-border-transparent: {{ color_border_transparent | color_modify: 'alpha', border_opacity }};
{% endcapture %}

{% capture logo_markup %}
  {% if logo != blank %}
    {% render 'image' with image: logo, wrapper_class: 'regular-logo', preload: true %}
  {% endif %}

  {% if logo_transparent != blank %}
    {% render 'image' with image: logo_transparent, wrapper_class: 'transparent-logo', preload: true %}
  {% endif %}

  {% if logo == blank or logo_transparent == blank %}
    <span class="header__logo-text">{{ shop.name }}</span>
  {% endif %}
{% endcapture %}

{%- if cart.item_count > 0 -%}
  {%- assign count_visible = true -%}
{%- endif -%}

<header
  data-section-id="{{ section.id }}"
  data-section-type="header"
  class="{{ header_classes }}"
  style="{{ css_vars }}"
>

  <a class="header__menu-icon header__icon-touch" href="#" data-js-menu-button>
    {% render 'icon-button' with icon: 'menu' %}
  </a>

  <h1 class="header__logo ff-heading fs-heading-base">
    <a class="header__logo-link" href="{{ routes.root_url }}">
      {{ logo_markup }}
    </a>
  </h1>

  {%- if style == 'inline' -%}
    <div class="header__links" data-navigation>
      {% render 'navigation' with menu: links, mega_navs: blocks %}
    </div>
  {%- endif -%}


  <div class="header__right">
    <a class="header__icon-touch header__icon-touch--search no-transition" href="{{ routes.search_url }}" data-search>
      {% render 'icon-button' with icon: 'search' %}
    </a>

    {%- if shop.customer_accounts_enabled -%}
      <a class="header__icon-touch header__icon-touch--account" href="{{ routes.account_url }}">
        {% render 'icon-button' with icon: 'account' %}
      </a>
    {%- endif -%}
    <a class="header__icon-touch no-transition" href="{{ routes.cart_url }}" data-js-cart-icon>
      {% render 'icon-button' with icon: 'shopping-cart' %}
      <div class="header__cart-count {% if count_visible %}visible{% endif %}" data-js-cart-indicator>
        <span data-js-cart-count>{{ cart.item_count }}</span>
      </div>
    </a>
  </div>

  {% render 'header-quick-search' %}
  {% render 'quick-cart' %}
</header>

{% render 'drawer-menu' with menu: menu %}


<style>
  {% if transparent_home %}
    .template-index .index {
      margin-top: calc(var(--height-header) * -1);
    }

    .template-index .index .offset-section:first-child .block-overlay__content {
      padding-top: var(--height-header);
    }
  {% endif %}

  {% if transparent_collection %}
    .template-collection .collection {
      margin-top: calc(var(--height-header) * -1);
    }

    .template-collection .collection .collection__slideshow-header-overlay .block-overlay__content {
      padding-top: var(--height-header);
    }
  {% endif %}
</style>


{% schema %}
  {
    "name": "Header",
    "class": "header__outer-wrapper",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "id": "logo_max_width",
        "type": "range",
        "min": 50,
        "max": 350,
        "step": 10,
        "unit": "px",
        "label": "Logo max width",
        "default": 200
      },
      {
        "id": "menu",
        "type": "link_list",
        "label": "Main menu",
        "default": "main-menu"
      },
      {
        "id": "style",
        "type": "select",
        "label": "Style",
        "options": [
          { "value": "inline", "label": "Inline links" },
          { "value": "icon", "label": "Menu icon" }
        ],
        "default": "inline"
      },
      {
        "id": "logo_position",
        "type": "select",
        "label": "Logo position",
        "options": [
            { "value": "left", "label": "Left"},
            { "value": "center", "label": "Center"}
        ],
        "default": "left"
      },
      {
        "type": "header",
        "content": "Transparent header"
      },
      {
        "id": "enable_transparent_home",
        "type": "checkbox",
        "label": "Enable on home page",
        "info": "This setting requires that you have a Slideshow Section with full-width enabled as the first Section on your homepage.",
        "default": false
      },
      {
        "id": "enable_transparent_collection",
        "type": "checkbox",
        "label": "Enable on collection pages",
        "info": "This setting requires that you have Collection images and have enabled full-width within your Collection pages Section.",
        "default": false
      },
      {
        "id": "color_text_transparent",
        "type": "color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "id": "color_icon_transparent",
        "type": "color",
        "label": "Icon color",
        "default": "#ffffff"
      },
      {
        "id": "color_border_transparent",
        "type": "color",
        "label": "Border color",
        "default": "#ffffff"
      },
      {
        "id": "opacity_border_transparent",
        "type": "range",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Border opacity",
        "default": 50
      },
      {
        "id": "logo_transparent",
        "type": "image_picker",
        "label": "Logo image",
        "info": "If no logo is set here it will use the default logo image instead"
      }
    ],
    "blocks": [
      {
        "type": "mega_nav",
        "name": "Mega nav",
        "settings": [
          {
            "type": "text",
            "id": "dropdown_parent_link",
            "label": "Dropdown parent link",
            "info": "Name the link in the main menu that you'd like the Mega nav to appear from. [Learn more](https://fluorescent.co/help/ira/header/#set-up-a-mega-nav-menu)"
          },
          {
            "type": "image_picker",
            "id": "mega_nav_featured_image",
            "label": "Mega nav featured image"
          }
        ]
      }
    ]
  }
{% endschema %}
