{% liquid
  assign image = section.settings.image
  assign image_position = section.settings.image_position
  assign image_width = section.settings.image_width
  assign video = section.settings.video_url

  assign heading = section.settings.title
  assign text = section.settings.text
  assign link = section.settings.link
  assign link_text = section.settings.link_text

  assign max_width_heading = section.settings.max_width_title
  assign max_width_subheading = section.settings.max_width_text
  assign contrast = section.settings.enable_contrast
  assign full_width = section.settings.enable_full_width
%}

<section
  class="
    image-with-text
    image-with-text--p-{{ image_position }}
    image-with-text--w-{{ image_width }}
    {% if contrast %}
      contrast
    {% endif %}
    {% if full_width %}
      full-width
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="image-with-text"
  style="
    --max-width-content: {{ max_width_subheading }}em;
  "
>

  <div class="image-with-text__image {% if image != blank %}image-with-text__image--present{% endif %}">
    {% if video != blank %}
      <video autoplay playsinline loop muted src="{{ video }}"></video>
    {% endif %}

    {% if image != blank %}
      {% render 'flexible-image' with image: image %}
    {% endif %}

    {% if image == blank and video == blank %}
      <div class="placeholder-image">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% endif %}
  </div>

  <div class="image-with-text__text">
    <div class="image-with-text__content">
      {%- if heading != blank -%}
        <h3
          class="image-with-text__heading ff-heading fs-page-heading c-heading"
          data-theme-editor-setting="section.{{ section.id }}.title"
        >
          {{ heading }}
        </h3>
      {%- endif -%}

      {%- if text != blank -%}
        <div
          class="image-with-text__subheading fs-primary-body c-subheading"
          data-theme-editor-setting="section.{{ section.id }}.text"
        >
          {{ text }}
        </div>
      {%- endif -%}

      {%- if link != blank and link_text != blank -%}
        <div class="image-with-text__button">
          <a
            class="btn btn--primary"
            href="{{ link }}"
            data-theme-editor-setting="section.{{ section.id }}.link_text"
          >
            {{ link_text }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>

</section>


{% schema %}
  {
    "name": "Image with text",
    "class": "grid-section",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image",
        "info": "We recommend using an image where the height is greater than the width."
      },
      {
        "type": "url",
        "id": "video_url",
        "label": "Video link",
        "info": "Direct link to .mp4 video file. [Learn more here](https://fluorescent.co/help/ira/image-with-text/#add-a-video-to-an-image-with-text-section)."
      },
      {
        "id": "image_width",
        "type": "select",
        "label": "Image width",
        "options": [
          { "value": "standard", "label": "Standard" },
          { "value": "larger", "label": "Larger" }
        ],
        "default": "standard"
      },
      {
        "id": "image_position",
        "type": "select",
        "label": "Image position",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ],
        "default": "left"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Heading"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Text"
      },
      {
        "id": "max_width_text",
        "type": "range",
        "label": "Text max width",
        "min": 20,
        "max": 46,
        "step": 2,
        "default": 34
      },
      {
        "id": "link",
        "type": "url",
        "label": "Link"
      },
      {
        "id": "link_text",
        "type": "text",
        "label": "Link text"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "id": "enable_contrast",
        "type": "checkbox",
        "label": "Enable contrast",
        "info": "Configure Contrast section colors in Theme settings",
        "default": true
      },
      {
        "id": "enable_full_width",
        "type": "checkbox",
        "label": "Enable full width",
        "info": "If enabled this section will span the entire width of the window",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image",
        "settings": {
          "title": "Image with text",
          "text": "<p>Use these sections to promote a particular feature with editorial photography.</p>",
          "link": "#",
          "link_text": "Shop the collection"
        }
      }
    ]
  }
{% endschema %}
