{% liquid
  assign heading = section.settings.title
  assign subheading = section.settings.subheading
  assign subheading_max_width = section.settings.subheading_max_width
  assign placeholder = section.settings.placeholder
%}

<section
  class="newsletter s-inline-section"
  data-section-id="{{ section.id }}"
  data-section-type="newsletter"
  style="
    --max-width-subheading: {{ subheading_max_width }}ch;
  "
>
  {% render 'section-header' with
    heading: heading
  %}

  {%- if section.settings.subheading -%}
    <div class="newsletter__subheading fs-body-base">{{ section.settings.subheading }}</div>
  {%- endif -%}

  {% form 'customer', class: 'newsletter__form' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="newsletter__success fs-body-base">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email"
        class="input newsletter__input"
        name="contact[email]"
        id="Email"
        value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
        placeholder="{{ section.settings.placeholder }}"
        autocorrect="off"
        autocapitalize="off"
      >
    {% endif %}
  {% endform %}
</section>


{% schema %}
  {
    "name": "Newsletter",
    "class": "inline-section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Sign up for our newsletter"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Subheading"
      },
      {
        "id": "subheading_max_width",
        "type": "range",
        "label": "Subheading max width",
        "default": 70,
        "min": 40,
        "max": 90,
        "step": 5
      },
      {
        "id": "placeholder",
        "type": "text",
        "label": "Input placeholder",
        "default": "Enter your email address and press return →"
      },
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)."
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
