{%- assign has_image = false -%}
{% if section.settings.image != blank %}
  {%- assign has_image = true -%}
{% endif %}

<section
  class="contact"
  data-section-id="{{ section.id }}"
  data-section-type="contact"
>
  {% if has_image %}
    <div class="contact__container">
      <div class="contact__image">
        {% render 'image' with image: section.settings.image, wrapper_class: 'borders' %}
      </div>
      <div class="contact__content">
        <h1 class="contact__heading ff-heading fs-page-heading c-heading">{{ page.title }}</h1>
        {%- if page.content != blank -%}
          <div class="contact__text ff-body fs-primary-body c-body rte">{{ page.content }}</div>
        {%- endif -%}

        {% render 'contact-form' %}
      </div>
    </div>

  {% else %}


    <header class="page__header">
      <h1 class="page__heading ff-heading c-heading">{{ page.title }}</h1>
    </header>

    <div class="page__rte ff-body rte rte--page">
      {{ page.content }}

    {% form 'contact', class: 'contact__form' %}

      {% if form.posted_successfully? %}
        <p class="contact__success ff-body fs-body-base">
          {{ 'contact.form.success' | t }}
        </p>
      {% endif %}

      {{ form.errors | default_errors }}

      <input
        type="text"
        name="contact[name]"
        id="ContactFormName"
        class="input"
        placeholder="{{ 'contact.form.name' | t }}"
        value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
      />

      <input
        type="email"
        name="contact[email]"
        id="ContactFormEmail"
        class="input"
        placeholder="{{ 'contact.form.email' | t }}"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
      >

      <input
        type="tel"
        name="contact[phone]"
        id="ContactFormPhone"
        class="input-reset input w-100"
        placeholder="{{ 'contact.form.phone' | t }}"
        value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
        pattern="[0-9\-]*"
      >

      <textarea
        rows="10"
        name="contact[body]"
        id="ContactFormMessage"
        class="input-reset input w-100"
        placeholder="{{ 'contact.form.message' | t }}"
      >
        {%- if form.body -%}
          {{- form.body -}}
        {%- endif -%}
      </textarea>

      <button type="submit" class="btn btn--primary">{{ 'contact.form.submit' | t }}</button>

    {% endform %}
    </div>

  {% endif %}
</section>

{% schema %}
  {
    "name": "Contact page",
    "class": "page-section",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image",
        "info": "We recommend using an image with a 2:3 aspect ratio."
      }
    ]
  }
{% endschema %}
