{% assign settings = section.settings %}

<section
  class="password welcome"
  data-section-id="{{ section.id }}"
  data-section-type="password"
>

  <div class="password__login-button slider-button" data-js-toggle>
    {% render 'icon' with icon: 'lock', class: 'lock' %}
    {% render 'icon' with icon: 'close', class: 'close' %}
  </div>

  <div class="password__content" data-content="default">
    <header class="password__header" role="banner">
      <p class="ff-meta fs-meta c-meta">{{ shop.name }}</p>
      <h1 class="password__heading ff-heading fs-page-heading c-heading">{{ settings.heading }}</h1>
    </header>

    {% if shop.password_message != blank %}
      <p class="password__subheading fs-body fs-primary-body c-subheading">{{ shop.password_message }}</p>
    {% endif %}

    {% form 'customer' %}
      {% if form.posted_successfully? %}
        <div class="password__success fs-body-base c-body">
          {{ 'general.password_page.signup_form_success' | t }}
        </div>
      {% else %}
        {%- if settings.text != blank -%}
          <div class="password__text fs-body-base c-body-base">{{ settings.text }}</div>
        {%- endif -%}

        {{ form.errors | default_errors }}
        <div class="password__notify-form">
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <input type="email"
            name="contact[email]"
            class="input input--round"
            id="Email"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
          >
          <button class="btn btn--primary" type="submit">{{ 'general.password_page.signup_form_button_label' | t }}</button>
        </div>
      {% endif %}
    {% endform %}

    {%- if settings.show_share -%}
      <div class="password__share">
        {% render 'share-block' with url: shop.url %}
      </div>
    {%- endif -%}

  </div>

  <div class="password__content" data-content="login">
    <h3 class="password__login-heading ff-heading fs-heading-base c-heading">{{ 'general.password_page.login_form_heading' | t }}</h3>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}

      <div class="password__login-form">
        <input type="password"
          class="input input--round"
          name="password"
          id="Password"
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >
        <button class="btn btn--primary" type="submit">{{ 'general.password_page.login_form_submit' | t }}</button>
      </div>
    {% endform %}
    <p class="fs-body-base c-body">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</section>


{% schema %}
  {
    "name": "Password page",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Text",
        "default": "<p>Find out when we open<p>"
      },
      {
        "id": "show_share",
        "type": "checkbox",
        "label": "Show share buttons",
        "default": true
      }
    ]
  }
{% endschema %}
