{% liquid
  assign slides = section.blocks
  assign settings = section.settings
%}

<section
  class="
    slideshow
    borders-nfw
    {% if settings.enable_full_width %}full-width{% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="slideshow"
  data-autoplay="{{ settings.duration_autoplay | times: 1000 }}"
  data-parallax="{{ settings.enable_parallax }}"
  data-total-slides="{{ slides.size }}"
  style="
    --color-dot: {{ settings.color_subheading }};
    --desktop-height: {{ settings.desktop_height }}vh;
    --mobile-height: {{ settings.mobile_height }}vh;
  "
>
  <div class="slideshow__slides is-hidden" data-slider>
    {%- if slides.size > 0 -%}
      {%- for slide in slides -%}
        {% comment %}
          Blocks in the new theme architecture have a 'value' key representing
          the default type of the block. If it exists use it, otherwise
          fall back in the case of legacy architecture.
        {% endcomment %}
        {%- liquid
          assign desktop_image = slide.settings.image
          assign mobile_image = slide.settings.mobile_image
          assign video = slide.settings.video_url
        -%}

        <div
          class="slideshow__cell{% if mobile_image != blank %} slideshow__cell--has-mobile-image{% endif %}"
          data-slide
          data-index="{{ forloop.index0 }}"
          {{ slide.shopify_attributes }}
        >
          <div class="slideshow__asset">
            {% if video != blank %}
              <video class="slideshow__video" autoplay playsinline loop muted src="{{ video }}"></video>
            {% endif %}

            {%- if desktop_image != blank -%}
              {% render 'image' with
                image: desktop_image,
                wrapper_class: 'slideshow__image-wrapper slideshow__parallax-wrapper slideshow__image--desktop',
                disable_style: true
              %}
            {%- endif -%}

            {%- if mobile_image != blank -%}
                {% render 'image' with
                  image: mobile_image,
                  wrapper_class: 'slideshow__image-wrapper slideshow__parallax-wrapper slideshow__image--mobile',
                  disable_style: true
                %}
            {%- endif -%}

            {%- if desktop_image == blank and video == blank -%}
              <div class="placeholder-image">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {%- endif -%}
          </div>

          <div class="slideshow__overlay">
            {% render 'block-overlay' with
              block: slide,

              meta: slide.settings.meta,
              heading: slide.settings.title,
              subheading: slide.settings.subheading,
              link: slide.settings.link,
              link_text: slide.settings.link_text,

              alignment: slide.settings.alignment,
              max_width_content: slide.settings.max_width_subheading,

              opacity: settings.opacity_overlay,
              color_background: settings.color_overlay,
              color_background_button: settings.color_background_button,
              color_meta: settings.color_meta,
              color_heading: settings.color_heading,
              color_subheading: settings.color_subheading,
              color_text_button: settings.color_text_button
            %}
          </div>
        </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
</section>


{% schema %}
  {
    "name": "Slideshow",
    "class": "grid-section offset-section slideshow-section",
    "settings": [
      {
        "type": "range",
        "id": "desktop_height",
        "label": "Height",
        "unit": "%",
        "min": 50,
        "max": 100,
        "step": 5,
        "default": 100
      },
      {
        "type": "range",
        "id": "mobile_height",
        "label": "Mobile height",
        "unit": "%",
        "min": 50,
        "max": 100,
        "step": 5,
        "default": 100
      },
      {
        "id": "opacity_overlay",
        "type": "range",
        "label": "Overlay opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 60,
        "unit": "%"
      },
      {
        "id": "color_overlay",
        "type": "color",
        "label": "Overlay",
        "default": "#000000"
      },
      {
        "id": "color_heading",
        "type": "color",
        "label": "Heading",
        "default": "#ffffff"
      },
      {
        "id": "color_subheading",
        "type": "color",
        "label": "Subheading",
        "default": "#b8b8b8"
      },
      {
        "id": "color_background_button",
        "type": "color",
        "label": "Button background",
        "default": "#000000"
      },
      {
        "id": "color_text_button",
        "type": "color",
        "label": "Button text",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "duration_autoplay",
        "label": "Time between slides",
        "unit": "s",
        "min": 0,
        "max": 10,
        "step": 2,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "enable_parallax",
        "label": "Enable parallax",
        "default": false
      },
      {
        "id": "enable_full_width",
        "type": "checkbox",
        "label": "Enable full width",
        "info": "If enabled this section will span the entire width of the window",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "limit": 5,
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "mobile_image",
            "type": "image_picker",
            "label": "Mobile image"
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "Video link",
            "info": "Direct link to .mp4 video file. [Learn more here](https://fluorescent.co/help/ira/slideshow/#add-a-video-to-a-slideshow)."
          },
          {
            "id": "meta",
            "type": "text",
            "label": "Mini heading"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading"
          },
          {
            "id": "max_width_subheading",
            "type": "range",
            "label": "Text max width",
            "min": 20,
            "max": 50,
            "step": 2,
            "default": 30
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "Button label"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "alignment",
            "type": "select",
            "label": "Text alignment",
            "options": [
              { "label": "Top left", "value": "left_top" },
              { "label": "Top center", "value": "center_top" },
              { "label": "Top right", "value": "right_top" },
              { "label": "Middle left", "value": "left_center" },
              { "label": "Middle center", "value": "center_center" },
              { "label": "Middle right", "value": "right_center" },
              { "label": "Bottom left", "value": "left_bottom" },
              { "label": "Bottom center", "value": "center_bottom" },
              { "label": "Bottom right", "value": "right_bottom" }
            ],
            "default": "left_center"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Image",
        "blocks": [
          {
            "type": "image",
            "settings": {
              "meta": "Slideshow",
              "title": "This is your slideshow",
              "subheading": "<p>Use it to make a dramatic first impression with high-quality imagery and minimal text. Using the button below to link to whatever is most appropriate.</p>",
              "link": "#",
              "link_text": "Shop now"
            }
          },
          {
            "type": "image",
            "settings": {
              "meta": "Slideshow",
              "title": "This is your slideshow",
              "subheading": "<p>Use it to make a dramatic first impression with high-quality imagery and minimal text. Using the button below to link to whatever is most appropriate.</p>",
              "link": "#",
              "link_text": "Shop now"
            }
          }
        ]
      }
    ]
  }
{% endschema %}