{% liquid
  assign settings = section.settings
  assign testimonials = section.blocks
%}

<section
  class="testimonials s-inline-section"
  data-section-id="{{ section.id }}"
  data-section-type="testimonials"
>
  {% render 'section-header' with
    heading: settings.title,
    link_text: settings.link_text,
    url: settings.link
  %}

  <div class="testimonials__items mobile-carousel" data-slider>
    {%- for testimonial in testimonials -%}
      {%- if testimonial.settings.image != blank or testimonial.settings.testimonial != blank -%}
        <div
          class="testimonials__item testimonials__item--{{ settings.per_row }}"
          data-slide
          data-index="{{ forloop.index0 }}"
          {{ testimonial.shopify_attributes }}
        >
          {%- if testimonial.settings.image != blank -%}
            {% render 'image' with
              image: testimonial.settings.image,
              wrapper_class: 'testimonials__image borders'
            %}
          {%- endif -%}

          {%- if testimonial.settings.testimonial != blank -%}
            <div class="fs-body-base">{{ testimonial.settings.testimonial }}</div>
          {%- endif -%}
          {%- if testimonial.settings.author != blank -%}
            <p class="testimonials__author fs-body-base">{{ testimonial.settings.author }}</p>
          {%- endif -%}
        </div>
      {%- endif -%}

    {%- else -%}
      {%- for i in (1..settings.per_row) -%}
        <div
          class="testimonials__item testimonials__item--{{ settings.per_row }}"
          data-slide
          data-index="{{ forloop.index0 }}"
        >
          <div class="placeholder-image testimonials__image borders">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
          <div class="fs-body-base"><p>{{ 'sections.testimonials.placeholder.quote' | t }}</p></div>
          <p class="testimonials__author fs-body-base">{{ 'sections.testimonials.placeholder.author' | t  }}</p>
        </div>
      {%- endfor -%}
    {%- endfor -%}

    {% render 'carousel-pagination' %}
  </div>
</section>


{% schema %}
  {
    "name": "Testimonials",
    "class": "inline-section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Testimonials"
      },
      {
        "id": "link_text",
        "type": "text",
        "label": "Link text",
        "default": "See all"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Link"
      },
      {
        "id": "per_row",
        "type": "range",
        "label": "Testimonials per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "testimonial",
            "type": "richtext",
            "label": "Testimonial"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "testimonial",
            "settings": {
              "testimonial": "<p>\"Add quotes from your customers here. Anything positive is great to include, even if it's just something about how fast shipping was or how great you were to deal with.\"</p>",
              "author": "Happy customer"
            }
          },
          {
            "type": "testimonial",
            "settings": {
              "testimonial": "<p>\"Add quotes from your customers here. Anything positive is great to include, even if it's just something about how fast shipping was or how great you were to deal with.\"</p>",
              "author": "Happy customer"
            }
          },
          {
            "type": "testimonial",
            "settings": {
              "testimonial": "<p>\"Add quotes from your customers here. Anything positive is great to include, even if it's just something about how fast shipping was or how great you were to deal with.\"</p>",
              "author": "Happy customer"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
