{% assign settings = section.settings %}

<section
  class="text-columns-with-images s-inline-section"
  data-section-id="{{ section.id }}"
  data-section-type="text-columns-with-images"
>
  {% render 'section-header' %}

  <div
    class="text-columns-with-images__columns mobile-carousel"
    style="--s-image-max-width: {{ settings.image_max_width }}px"
    data-slider
  >
    {%- for column in section.blocks -%}
      <div
        class="text-columns-with-images__column text-columns-with-images__column--{{ settings.per_row }}"
        data-slide
        data-index="{{ forloop.index0 }}"
        {{ column.shopify_attributes }}
      >
        <div class="text-columns-with-images__inner">
          {%- if column.settings.image != blank -%}
            <div class="text-columns-with-images__image-wrap {% if settings.circle %}is-circle{% endif %}">
              <div>
                {% render 'image' with
                  image: column.settings.image
                %}
              </div>
            </div>
          {%- endif -%}
          {%- if column.settings.title -%}
            <h5 class="text-columns-with-images__heading ff-heading fs-heading-small c-heading">{{ column.settings.title }}</h5>
          {%- endif -%}
          {%- if column.settings.text -%}
            <div class="text-columns-with-images__text fs-body-base">{{ column.settings.text }}</div>
          {%- endif -%}
          {%- if column.settings.link != blank and column.settings.link_text != blank -%}
            <a class="link fs-body-base" href="{{ column.settings.link }}">{{ column.settings.link_text }}</a>
          {%- endif -%}
        </div>
      </div>
    {%- else -%}

      {% comment %} Placeholder content {% endcomment %}
      {%- assign headings = "Heading|Heading|Heading" | split: '|' -%}
      {%- assign text =
        "Start here. Introduce your vision, or explain why what you do or sell is superior to your competitors.|
        Get into your process a bit. The quality of handiwork, proprietary knowledge, or materials that you use that make your products better.|
        End it with an action item that the user can take advantage of. Link to a more in-depth page, or go straight to a collection. Your call."
        | split: '|'
      -%}

      {%- for placeholder in headings -%}
        <div
          class="text-columns-with-images__column text-columns-with-images__column--{{ settings.per_row }}"
          data-slide
        >
          <div class="text-columns-with-images__inner">
            <div class="text-columns-with-images__image-wrap {% if settings.circle %}is-circle{% endif %}">
              <div class="text-columns-with-images__placeholder placeholder-image">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
            <h5 class="text-columns-with-images__heading ff-heading fs-heading-small c-heading">{{ headings[forloop.index0] }}</h5>
            <div class="text-columns-with-images__text fs-body-base">{{ text[forloop.index0] }}</div>
            <a class="link fs-body-base" href="#">Learn more →</a>
          </div>
        </div>
      {%- endfor -%}
    {%- endfor -%}

    {% render 'carousel-pagination' %}
  </div>

</section>


{% schema %}
  {
    "name": "Text columns with images",
    "class": "inline-section",
    "settings": [
      {
        "id": "per_row",
        "type": "range",
        "label": "Columns per row",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "image_max_width",
        "label": "Max image width",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "px",
        "default": 100
      },
      {
        "type": "checkbox",
        "id": "circle",
        "label": "Show image in circle",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "id": "text",
            "type": "textarea",
            "label": "Text",
            "default": "Introduce your vision, or explain why what you do or sell is superior to your competitors."
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "Link text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text columns with images",
        "category": "Text",
        "blocks": [
          {
            "type": "column",
            "settings": {
              "title": "Heading",
              "text": "Introduce your vision, or explain why what you do or sell is superior to your competitors.",
              "link": "#",
              "link_text": "Link text"
            }
          },
          {
            "type": "column",
            "settings": {
              "title": "Heading",
              "text": "Introduce your vision, or explain why what you do or sell is superior to your competitors.",
              "link": "#",
              "link_text": "Link text"
            }
          },
          {
            "type": "column",
            "settings": {
              "title": "Heading",
              "text": "Introduce your vision, or explain why what you do or sell is superior to your competitors.",
              "link": "#",
              "link_text": "Link text"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
