{% liquid
  assign heading = section.settings.title
  assign subheading = section.settings.subheading
  assign image = section.settings.image
  assign video = section.settings.video_url.url
  assign video_id = section.settings.video_url.id
  assign video_type = section.settings.video_url.type
  assign opacity_overlay = section.settings.opacity_overlay
  assign color_overlay = section.settings.color_overlay
  assign color_text = section.settings.color_text
  assign opacity = opacity_overlay | divided_by: 100.0
%}

<section
  class="video"
  data-section-id="{{ section.id }}"
  data-section-type="video"
  data-video-id="{{ video_id }}"
  data-video-type="{{ video_type }}"
  style="
    --color-overlay: {{ color_overlay }};
    --color-overlay-transparent: {{ color_overlay | color_modify: 'alpha', opacity }};
    --color-border: {{ color_text | color_modify: 'alpha', 0.3 }};
    --color-text: {{ color_text }};
  "
>
  <div class="video__wrapper borders-nfw">
    {%- if video != blank -%}
      <div class="video__container" data-video-container>
        <div class="video__player" tabindex="-1" data-video-player></div>
      </div>
    {%- endif -%}

    {%- if image != blank -%}
      {% render 'image' with
        image: image,
        wrapper_class: 'video__image visible',
        disable_style: true
      %}
    {%- endif -%}

    <div class="video__overlay visible" data-overlay>
      <div class="video__overlay-content">
        <button class="video__play" data-play-button>
          {% render 'icon' with icon: 'play_arrow' %}
        </button>
        <div>
          {%- if heading -%}
            <h3 class="video__overlay-heading ff-heading fs-heading-small">{{ heading }}</h3>
          {%- endif -%}

          {%- if subheading -%}
            <div class="video__overlay-subheading ff-body fs-body-base">{{ subheading }}</div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

  <div class="video__mobile-text contrast">
    {%- if heading -%}
      <h3 class="video__mobile-heading ff-heading fs-heading-base c-heading">{{ heading }}</h3>
    {%- endif -%}

    {%- if subheading -%}
      <div class="video__mobile-subheading ff-body fs-body-base c-subheading">{{ subheading }}</div>
    {%- endif -%}
  </div>
</section>


{% schema %}
  { 
    "name": "Video",
    "class": "grid-section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Heading"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Subheading"
      },
      {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "id": "opacity_overlay",
        "type": "range",
        "label": "Overlay opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 60,
        "unit": "%"
      },
      {
        "id": "color_overlay",
        "type": "color",
        "label": "Overlay",
        "default": "#000000"
      },
      {
        "id": "color_text",
        "type": "color",
        "label": "Text",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Video",
        "category": "Video",
        "settings": {
          "title": "Featured video",
          "subheading": "<p>Use this section for interviews, product promotions, demo reels, and more.</p>"
        }
      }
    ]
  }
{% endschema %}
