<!doctype html>

<!--
      ___                       ___           ___           ___
     /  /\                     /__/\         /  /\         /  /\
    /  /:/_                    \  \:\       /  /:/        /  /::\
   /  /:/ /\  ___     ___       \  \:\     /  /:/        /  /:/\:\
  /  /:/ /:/ /__/\   /  /\  ___  \  \:\   /  /:/  ___   /  /:/  \:\
 /__/:/ /:/  \  \:\ /  /:/ /__/\  \__\:\ /__/:/  /  /\ /__/:/ \__\:\
 \  \:\/:/    \  \:\  /:/  \  \:\ /  /:/ \  \:\ /  /:/ \  \:\ /  /:/
  \  \::/      \  \:\/:/    \  \:\  /:/   \  \:\  /:/   \  \:\  /:/
   \  \:\       \  \::/      \  \:\/:/     \  \:\/:/     \  \:\/:/
    \  \:\       \__\/        \  \::/       \  \::/       \  \::/
     \__\/                     \__\/         \__\/         \__\/

--------------------------------------------------------------------
#  Ira v3.5.2
#  Documentation: https://fluorescent.co/help/ira/
#  Purchase: https://themes.shopify.com/themes/ira/
#  A product by Fluorescent: https://fluorescent.co/
--------------------------------------------------------------------

-->

<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'search.heading' | t: count: search.results_count }}: {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% render 'social-meta-tags' %}

  {% render 'theme-setup' %}
  {% render 'theme-setting-vars' %}
  {{ 'index.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>

<body
  class="
    template-{{ request.page_type | handle }}
    {% if settings.enable_section_borders %}show-borders{% endif %}
  "
  {% if settings.cart_enable_ajax %}
    data-enable-cart-ajax="true"
  {% endif %}
>
  <div class="page">
    <div class="theme-editor-scroll-offset"></div>

    <div class="header__space" data-header-space></div>
    {% section 'announcement-bar' %}
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'popup' %}
    {% section 'footer' %}
    {% render 'store-availability-modal' %}

    {% if settings.enable_page_transitions %}
      <div class="page-transition" data-page-transition></div>
    {% endif %}
  </div>

  {{ '//www.youtube.com/iframe_api' | script_tag }}
  {{ '//cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'index.js' | asset_url }}" defer="defer"></script>
</body>
</html>
