<div class="c-body">
  <div class="product-single__meta">

    {%- if show_vendor -%}
      <div class="product__vendor ff-meta fs-meta c-meta">{{ product.vendor }}</div>
    {%- endif -%}

    <h1 class="product-single__title ff-heading fs-heading-base c-heading">{{ product.title }}</h1>

    <div class="product__price fs-body-base">
      <span data-price>{{ current_variant.price | money }}</span>
      <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
      <s data-compare-price>
        {% if current_variant.compare_at_price > current_variant.price %}
          {{ current_variant.compare_at_price | money }}
        {% endif %}
      </s>
      {% render 'unit-price' item: current_variant %}
    </div>

    {% render 'product-form' with
      product: product,
      current_variant: current_variant,
      show_quantity: section.settings.show_quantity_input,
      show_dynamic_checkout: section.settings.enable_payment_button,
      show_swatches: section.settings.show_swatches,
    %}
  </div>

  <div class="product-single__description rte rte--product fs-body-base" data-description>{{ product.description }}</div>

  {% if section.settings.show_share_buttons %}
    <div class="product__share" data-share="{{ 'product.share' | t }}">
      {% render 'share-block', share_title: product.title, url: product.url, share_image: product.featured_media %}
    </div>
  {% endif %}
</div>
